{% extends './base.html' %}
{% block content %}
<link rel="stylesheet" href="../static/btnstyle.css">


<div class="container text-left mt-6">
  <div class=" row ">
<div class="col-lg-6">
  <div class=" ">

  <h2>Add a favorite book</h2>
  <form class="add_Form" action="{% url 'app1:add_book' %}" method="POST" >
    {% csrf_token %}
  <!-- Title Input > type :"text" -->
  <div class="d-flex align-items-center gap-2 mb-3">
    <label for="title" class="col-sm-2 col-form-label">Title : </label>
    <div style="flex: 1.4" class="col-sm-4">
      <input required type="text" name="title" class="form-control w-50" id="title">
    </div>
  </div>
  
  <!-- Description Input > type :"textarea" -->
  <div class="form-group d-flex">
    <label for="exampleFormControlTextarea1" class="me-2">Description : </label>
    <textarea class="form-control w-50 " name="description" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <div class="submit-btn d-flex justify-content-center ">

    <button style="width: fit-content;
            box-shadow: 2px 3px 0px 1px rgba(0, 0, 0, 1)
            , 0 2px 10px 0 rgba(0, 0, 0, 0.12);
            border: 2px solid black;" type="submit" class="btn btn-outline-dark btn-shadow mt-3"> Add</button>


</form>
{% if messages %}
<ul class="messages">
  {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}


</div>
</div>
</div> 




<div class="col-lg-6">
<div class="right_side">
  <h2>All Books</h2>
    
    {% for book in books %}
    <p><a  style="text-decoration: underline;" class="link text-primary" href="{% url 'app1:book' pk=book.pk %}">{{book.title}}</a></p>
    <p>{{book.uploaded_by.first_name}}</p>
    
    {% if book in user.favorite_books.all %}
    <p>This is one of your favorite books!</p>
    {% else %}
    <a style="text-decoration: underline;" href="{% url 'app1:add_to_favorite' pk=book.pk %}">Add to Favorites</a>
    {% endif %}
    <br>
    <hr>
    {% endfor %}
  </div>
</div>

</div>
</div>





















{% endblock content %}

